
.header-link
  text-decoration: none
  color: #22242A

.header-link:hover
  color: #0d6efd

.header-title
  text-decoration: none
  color: #22242A

.action-link
  color: #0d6efd
  text-decoration: none

.text-muted
  text-decoration: none

@media (max-width: 425px )
  .header-link
    font-size: 12px
  .header-title
    font-size: 14px
    font-weight: bold
    // header-button for phone
  .login-button-div
    display: flex
    margin: auto
  .login-button
    white-space: nowrap

//    header-button
.login-button-div
  display: flex
  margin: auto
.login-button
  white-space: nowrap

.reset-password-size
  width: 40%