
.header-link
  text-decoration: none
  color: white

.header-link:hover
  color: #0d6efd

.header-title
  text-decoration: none
  color: white

.header-action
  color: #0d6efd
  text-decoration: none

.text-muted
  text-decoration: none

.text_carousel
  background-color: #2E2F30
  border-radius: 10px
  padding-right: 10px
  padding-left: 10px

.carousel-image
  width: 100%
  height: 600px
@media (max-width: 425px )
  .header-title
    font-size: 12px
  .login-button
    margin-bottom: 5px
  .carousel-image
    object-fit: cover
    height: 455px
  .poster-image
    width: 300px
    height: 400px
.poster
  margin: auto
.poster-image
  width: 400px
  height: 600px
.login-button
  white-space: nowrap
  margin-right: 5px

.reset-password-size
  width: 40%